.container-fluid {
  height: 100%;
}

// Holds our listing results and map
#resultsRow {
  height: 1000px;
  display: flex;
  flex-direction: row;
}


#listingsBox {
  width: 50%;
  height: 100%;
  background-color: darkgray;
}

// #mapContainer {
//   width: 50%;
// }

app-map {
  width: 50%;
  height: 100%;
}
