.container-fluid {
  height: 100%;
}

// Holds our listing results and map
#resultsRow {
  height: 1000px;
  display: flex;
  flex-direction: row;
}


#listingsBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  // background-color:a;
}

.listingCardWrapper {
  height: 250px;
  width: 100%;
  border: .5px solid black;
}

app-map {
  width: 50%;
  height: 100%;
}

.listingPhoto img {
  width: 35%;
  object-fit: contain;
  margin-left: 0;
  height: 100%;
}
