%space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-fluid {
  height: 100%;
}

// Holds our listing results and map
#resultsRow {
  height: 1000px;
  display: flex;
  flex-direction: row;
}


#listingsBox {
  flex-direction: column;
  width: 50%;
  height: 100%;
  // background-color:a;
}

.listingCardWrapper {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 100%;
  border: .5px solid black;
}

.listingStatsWrapper {
  max-width: 65%;
  display: flex;
  flex-direction: column;
}

.listingStatsWrapper div {
  width: 100%;
}

.listingPriceRatingWrapper {
  flex-direction: row;

}
//
// star-rating {
//   width: 50px;
// }

#map {
  width: 50%;
  height: 100%;
  // position: -webkit-sticky;  // required for Safari
  // position: sticky;
  // top: 0; // required as well.
}

agm-map {
  width: 100%;
  height: 100%;
}

// app-map {
//   width: auto;
//   height: auto;
// }


.listingPhoto {
  width: 35%;
  height: 100%;
  margin-left: 0;
}

.listingPhoto img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

//NEXT/PREVIOUS buttons
.next-previous-buttons {
  height: 50px;
  width: 100%;
  @extend %space-around;

  button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

  button:hover {
    background-color: #ddd;
    color: black;
  }

  .previous {
    background-color: black;
    color: white;
  }

  .next {
    background-color: black;
    color: white;
  }

  .round {
    border-radius: 50%;
  }
}
