<p>
  rental works!
</p>


<div class="container-fluid">
  <div class="row">

    <div class="left-column">
      <div id="photoGallery">
        <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex">

          <slide *ngFor="let slide of photos; let index=index">
            <img [src]="slide.large.uri" alt="image slide" style="display: block; width: 100%;">

            <div class="carousel-caption">
              <!-- <h4>Slide {{index}}</h4> -->
              <p>{{slide.text}}</p>
            </div>
          </slide>
        </carousel>
      </div>


      <div id="detailNav">
        <ul class="nav nav-underline">
          <li> <a href="#overview">Overview</a> </li>
          <li> <a href="#amenities">Amenities</a> </li>
          <li> <a href="#reviews">Reviews</a> </li>
          <li> <a href="#map">Map</a> </li>
        </ul>
      </div>


      <section id="overview">
        <h2>{{listingDetails.adContent.headline}}</h2>
        <div id="listing-details-container">
          <div class="row">
            <div class="col">
              <ul class="detail-list">
                <li>
                  <span>{{listingDetails?.units[0]?.unitContent.propertyType}}</span>
                  <span></span>
                </li>
                <li>
                  <span> Sleeps: {{listingDetails?.units[0]?.unitContent.maxSleep}} </span>
                </li>
                <li>
                  <span> Bedrooms: {{listingDetails?.units[0]?.unitContent.numberOfBedrooms}} </span>
                </li>
                <li>
                  <span> Bathrooms: {{listingDetails?.units[0]?.unitContent.numberOfBathrooms}} </span>
                </li>
                <li>
                  <span> Min Stay: {{listingDetails?.units[0]?.ratePeriods[0].minimumStay}} nights</span>
                </li>
              </ul>
            </div>
            <div class="col">
              <agm-map [zoom]='13' [latitude]="coordinates?.lat" [longitude]="coordinates?.lng" [draggable]="false">
                <agm-marker [latitude]="coordinates?.lat" [longitude]="coordinates?.lng"></agm-marker>
              </agm-map>
            </div>
          </div>

          <!-- <div id="listing-features">
            <span *ngFor="let feature of features"> {{feature.description}} </span>
          </div> -->



          <div class="row">
            <div id="listing-description">
              <h2>{{listingDetails?.adContent?.accommodationsSummary}}</h2>
              <pre id="description-text">{{listingDetails?.adContent?.description}}</pre>
            </div>
            <button *ngIf="isCollapsed && textExceedsDivHeight" (click)="toggleText()" style="margin-top: 0">View more</button>
            <button *ngIf="!isCollapsed && textExceedsDivHeight" (click)="toggleText()" style="margin-top: 0">View less</button>
          </div>

          <div class="row">
            <div id="listing-bedroom-stats">
              <h2>Bedrooms</h2>
              <ul id="bedroom-list">
                <li>
                  <span> {{listingDetails?.units[0].unitContent?.numberOfBedrooms}} Bedrooms </span>
                </li>
                <li>
                  <span> Sleeps {{listingDetails?.units[0].unitContent?.maxSleep}} </span>
                </li>
              </ul>
              <hr>
              <small>{{listingDetails?.units[0].unitContent?.bedroomDetails}}</small>
            </div>
          </div>


          <!-- <div class="row">
            <div id="listing-rules">
              <h3>House Rules</h3>
            </div>
          </div> -->


        </div>
      </section>

      <section id="amenities">
        <h2>Amenities</h2>
        <hr>
        <div id="listing-amenities-container">
          <div class="row">
            <div class="col">
              <div id="general-amenities" *ngIf="features.general">
                <h4>General</h4>
                <ul>
                  <li *ngFor="let feature of features.general"> {{feature.localizedName}}</li>
                </ul>
              </div>
              <hr>
              <div id="kitchen-amenities" class="space-around-items" *ngIf="features.kitchen">
                <h4>Kitchen</h4>
                <ul>
                  <li *ngFor="let feature of features.kitchen"> {{feature.localizedName}}</li>
                </ul>
              </div>
              <hr>
              <div id="entertainment-amenities" *ngIf="features.entertainment">
                <h4>Entertainment</h4>
                <ul>
                  <li *ngFor="let feature of features.entertainment"> {{feature.localizedName}}</li>
                </ul>
              </div>
              <hr>
              <div id="outside-amenities" *ngIf="features.outside">
                <h4>Outside</h4>
                <ul>
                  <li *ngFor="let feature of features.outside"> {{feature.localizedName}}</li>
                </ul>
              </div>
              <hr>
              <div id="suitability-amenities" *ngIf="features.suitability">
                <h4>Suitability</h4>
                <ul>
                  <li *ngFor="let feature of features.suitability"> {{feature.localizedName}}</li>
                </ul>
              </div>
              <hr>

            </div>
          </div>

        </div>

      </section>

      <section id="reviews">
        <!-- <h2>Reviews</h2> -->
        <h2 *ngIf="reviews.reviewSummary.reviewCount === 1">{{reviews.reviewSummary.reviewCount}} Review</h2>
        <h2 *ngIf="reviews.reviewSummary.reviewCount > 1">{{reviews.reviewSummary.reviewCount}} Reviews</h2>

        <div id="averageRating">
            <rating [(ngModel)]="reviews.reviewSummary.averageRating" [max]="5" [readonly]="true"></rating>
            <!-- <star-rating size="medium" [starType]="icon" [rating]="reviews.reviewSummary.averageRating" [readOnly]="true"></star-rating> -->
          <span><em>{{reviews.reviewSummary.averageRating | number:'1.2-2'}}/5</em></span>
        </div>


        <!-- <div id="listing-reviews-container" *ngFor="let review of reviews.reviews"> -->
        <div id="listing-reviews-container" *ngFor="let review of currentPageArray">
          <div class="row">
            <div class="col">
              <div class="reviewCard">
                <h4>{{review.headline}}</h4>

                <span>{{review.rating}}/5 </span>
                <rating [(ngModel)]="review.rating" [max]="5" [readonly]="true"></rating>
                <em> Stayed {{ review.arrivalDate | date: 'MMM d, y'}}</em><br>
                <b>{{review.reviewerName}}</b>
                <pre>{{review.body}}</pre>

              </div>
              <hr>

            </div>
          </div>
        </div>
        <pagination *ngIf="reviews.reviews.length > 10" [totalItems]="reviews.reviews.length" (pageChanged)="pageChanged($event)"></pagination>
      </section>

      <section id="map">
        <h2>Map</h2>
        <div id="listing-map-container">
          <div class="row">
            <div class="col">
              <agm-map [zoom]='13' [latitude]="coordinates?.lat" [longitude]="coordinates?.lng" [draggable]="false">
                <agm-marker [latitude]="coordinates?.lat" [longitude]="coordinates?.lng"></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
      </section>





    </div>




    <div class="right-column">
      <div id="rentalDetails">

        <div id="price"> {{listingDetails?.units[0]?.ratePeriods[0]?.rates.nightlyWeekday.amount | currency: listingDetails?.units[0]?.ratePeriods[0]?.rates.nightlyWeekday.currency}}</div>

        <div class="reviewStars">
          <star-rating size="medium" [starType]="icon" [rating]="listingDetails?.units[0]?.reviewSummary.averageRating" [readOnly]="true"></star-rating>
          {{listingDetails?.units[0]?.reviewSummary.reviewCount}}
        </div>

      </div>
    </div>

  </div>
</div>

<!-- <p>Price = {{ price | currency : "NOK" }}</p> -->
