%space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


%column-flex {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 25px;
  height: 100%;
}

ul {
  list-style-type: none;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  overflow: auto;
}

#photoGallery {
  height: 500px;
  width: 100%;
  border: 1px solid black;
}

//NEED TO MAKE THIS RESPONSIVE/DYNAMIC SIZING
img {
 max-width: 100%;
 max-height: 500px;
 object-fit: cover;
}


#rentalDetails {
  position: -webkit-sticky;
  position: sticky;
}

#detailNav {
  width: 90%;
  border-bottom: 1px solid black;
}

.nav-underline {
  @extend %space-around;
  height: 60px;
  font-size: 16px;
}

//OVERVIEW SECTION
#overview {
  @extend %column-flex;
  width: 90%;
  height: auto;

  #listing-details-container {

  }
}

agm-map {
  height: 100%;
  width: 100%;
}

#listing-description {
  height: 200px;
  overflow: hidden;
  // border-bottom: 1px solid black;
}


//AMENITIES SECTION
#amenities {
  @extend %column-flex;
  width: 90%;

    #listing-amenities-container {

      ul {
        column-count: 3;
        column-gap: 32px;
      }

      li {

      }

    }

}

//REVIEWS SECTION
#reviews {
  @extend %column-flex;
  width: 90%;

    #listing-reviews-container {
      margin-top: 20px;
    }

    #averageRating {
      width: 100px;
    }
}

//MAP SECTION
#map {
  @extend %column-flex;
  height: 500px;
  width: 90%;

  #listing-map-container {
    height: 100%;
    width: 100%;
  }
}



pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#listing-bedroom-stats {
  flex-direction: column;

}

#bedroom-list {
}

#view-more {
  display: inline;
}

#view-less {
  display: none;
}

// #listing-features {
//   @extend %space-around;
//   border-top: 1px solid black;
//   border-bottom: 1px solid black;
// }
