$solid-border: 1px solid black;

//Centers text vertically and horizontally
%center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}


.searchBox {
  display: flex;
  justify-content: space-around;
  width: 75%;
  height: 100px;
  border: 1px solid black;
  margin: auto;
}

.searchForm {
  display: flex;
  flex-direction: row;
}

.form-group {
  width: 20%;
}

.guestCountDropdown {
  display: flex;
  flex-direction: row;
  width: 300px;
}

.guestCountBox {
  width: 40%;
  @extend %center-text;
}

.plusMinusButton {
  border: $solid-border;
  background-color: white;
  width: 30%;
  height: 100px;
}
